.morning {
    background-image: url('img/morning.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.noon {
    background-image: url('img/noon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.evening {
    background-image: url('img/evening.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.night {
    background-image: url('img/night.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.loginPage {
    margin: auto;
    margin-top: auto;
    width: fit-content;
    height: fit-content;
}