<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Story 9</title>
    </head>

    <body id="isi">
        {% if not user.is_authenticated %}
        <div class="wow animated fadeIn loginPage align-self-center" data-wow-delay="0.15s">
            <div class="container align-self-center" id="log-in">
                <h1>Please Log In First!</h1>
                <form action="/" method="POST">
                    {% csrf_token %}

                    <div class="register-input">
                        <label for="username">Username</label> <br>
                        <input id="username" type="text" name="username" required>
                    </div>
                    <div class="register-input">
                        <label for="password">Password</label> <br>
                        <input id="password" type="password" name="password" required>
                    </div>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    
                    <p class="to-register">Don't have an account? Create one <a class="to-register-ref" href="register/">here</a></p>
                    
                    <button type="submit" class="btn btn-outline-light register-btn">Log In</button>
                </form>
            </div>
        </div>
        {% endif %}
        
        {% if user.is_authenticated %}
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ text }} {{ name }}</h1>
                </div>
                <div class="col-md-auto">
                    <p>username: {{ username }}</p>
                </div>
                 <div class="col col-lg-2">
                    <a href="/logout/">
                        <button type="button" class="btn btn-outline-light btn-md features-btn-first animated fadeInLeft wow ml-4" data-wow-delay="0.95s">Log Out</button>
                    </a>
                </div>
            </div>
        </div>

        <input id="keyword" placeholder="Search by Title">

        <table class="table table-bordered" style="color: white;">
            <thead>
                <tr>
                    <th class="judul">Title</th>
                    <th class="penulis">Autors</th>
                    <th>Cover Image</th>
                </tr>
            </thead>

            <tbody id="daftar_isi">
            </tbody>
        </table>

        {% endif %}

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
        <script>
            {% comment %} setInterval(change_background, 1000 * 60 * 60); 
                   
            {% endcomment %}

            function change_background() {
            var d = new Date();
            var n = d.getHours();
            console.log(n);
            if (n >= 11 && n < 15) {
                document.getElementById("isi").classList.add('noon');
            } else if (n < 11 && n >= 3) {
                document.getElementById("isi").classList.add('morning');
            } else if (n < 18 && n >= 15) {
                document.getElementById("isi").classList.add('evening');
            } else if (n < 3 || n >= 18) {
                document.getElementById("isi").classList.add('night');
            }
            console.log("test");
            }

            change_background();
        </script>

        <script type="text/javascript">
            $("#keyword").keyup(function(){
                var keyword = $("#keyword").val();
                console.log(keyword);

                $.ajax({
                    url: '/data?q=' + keyword,
                    success: function(data) {
                        var array_items = data.items;
                        console.log(array_items);
                        $("#daftar_isi").empty();

                        

                        for (i = 0; i < array_items.length; i++) {
                            var judul = array_items[i].volumeInfo.title;
                            var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                            var penulis = array_items[i].volumeInfo.authors;

                            if(penulis === undefined){
                                var penulis = "Unknown";
                            }
                            $("#daftar_isi").append("<tr><td class='judul'>" + judul + "</td><td class='penulis'>" + penulis + "</td><td><img src=" + gambar + "></td></tr>")
                        }
                    }
                });
            });
        </script>
    </body>
<html>